<table style="width: 424px;font-size: 10pt;font-family: Arial, sans-serif;line-height:normal;background-color: #262626;padding-top: 25px;" cellpadding="0" cellspacing="0" border="0" class="ng-scope">
    <tbody>

        <tr>
            <td style="padding-right: 15px;border-right: 1px solid #317a00;" width="150" valign="top" align="center">
                <!-- ngIf: showField('logo') --><span ng-if="showField('logo')" class="ng-scope">
                    <!-- ngIf: showField('logoURL') -->
                    <!-- ngIf: !showField('logoURL') --><img ng-if="!showField('logoURL')" border="0" alt="Logo" style="border:0;max-width:150px" ng-src="https://bayzeed65.github.io/signature/DSC_5964%20(1).JPG" class="ng-scope" src="https://bayzeed65.github.io/signature/DSC_5964%20(1).JPG" width="88px">
                    <!-- end ngIf: !showField('logoURL') -->
                </span><!-- end ngIf: showField('logo') -->




            </td>

            <td style="padding-left: 15px;vertical-align: top;font-size:9pt;" valign="top">

                <!-- ngIf: isAnyFieldEntered('firstName, lastName') --><span ng-if="isAnyFieldEntered('firstName, lastName')" class="ng-scope">
                    <strong style="font-size: 15px;font-family: cursive;color: #317a00;" class="ng-binding">MD.BAYZEED HOSSAIN</strong><br>
                </span><!-- end ngIf: isAnyFieldEntered('firstName, lastName') -->

                <!-- ngIf: showField('title') --><span ng-if="showField('title')" class="ng-scope">
                    <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="font-size:10pt;font-family: Arial, sans-serif;color: #E6E6E6;padding-bottom:5px;" class="ng-binding ng-scope">Web Design &amp; Development</span>
                    <!-- end ngIf: showField('title') --><br>
                </span><!-- end ngIf: showField('title') -->

                <br>

                <!-- ngIf: showField('phone') --><span ng-if="showField('phone')" style="font-family: Arial, sans-serif;color: #E6E6E6;" class="ng-binding ng-scope"><span style="font-weight: bold;color:#317a00;">M: </span>+880 1744720765<br></span>
                <!-- end ngIf: showField('phone') -->
                <!-- ngIf: showField('mobile') -->
                <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="font-family: Arial, sans-serif;color: #E6E6E6;text-decoration: none;" class="ng-binding ng-scope"><span style="font-weight:bold; color:#317a00;">E: </span> bayzeedhossain1423@gmail.com<br></span>
                <!-- end ngIf: showField('email') -->


                <!-- ngIf: isAnyFieldEntered('company,address1,address2') --><span ng-if="isAnyFieldEntered('company,address1,address2')" class="ng-scope">
                    <br><!-- ngIf: showField('company') --><span ng-if="showField('company')" style="font-size: 9pt;font-family: Arial, sans-serif;color: #E6E6E6;" class="ng-binding ng-scope">Learning &amp; Earning Development Project</span>
                    <!-- end ngIf: showField('company') -->
                    <br><!-- ngIf: showField('address1') --><span ng-if="showField('address1')" style="font-size: 9pt;font-family: Arial, sans-serif;color: #E6E6E6;" class="ng-binding ng-scope">Terokhadia, Rajshahi</span><!-- end ngIf: showField('address1') -->
                    <br><!-- ngIf: showField('address2') --><span ng-if="showField('address2')" style="font-size: 9pt;font-family: Arial, sans-serif;color: #E6E6E6;" class="ng-binding ng-scope">6602, Bangladesh</span><!-- end ngIf: showField('address2') -->
                </span><!-- end ngIf: isAnyFieldEntered('company,address1,address2') -->
                <br><br>

            </td>
        </tr>

        <tr>
            <td align="center" style="border-right:1px solid #317a00">
                <!-- ngIf: isAnyFieldEntered('facebookURL,linkedinURL,twitterURL,youtubeURL,instagramURL,pinterestURL') --><span ng-if="isAnyFieldEntered('facebookURL,linkedinURL,twitterURL,youtubeURL,instagramURL,pinterestURL')" class="ng-scope">
                    <!-- ngIf: showField('facebookURL') --><span ng-if="showField('facebookURL')" class="ng-scope"><a href="https://www.facebook.com/bayzeedh/" target="_blank"><img alt="Facebook icon" border="0" width="18" height="18" style="border:0;height:18px;width:18px;" ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/fb.png" src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/fb.png"></a>&nbsp;</span>
                    <!-- end ngIf: showField('facebookURL') -->
                    <!-- ngIf: showField('linkedinURL') --><span ng-if="showField('linkedinURL')" class="ng-scope"><a href="https://www.linkedin.com/company/mycompany404" target="_blank"><img alt="LinkedIn icon" border="0" width="18" height="18" style="border:0; height:18px; width:18px" ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/ln.png" src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/ln.png"></a>&nbsp;</span>
                    <!-- end ngIf: showField('linkedinURL') -->
                    <!-- ngIf: showField('twitterURL') --><span ng-if="showField('twitterURL')" class="ng-scope"><a href="https://twitter.com/MyCompany404" target="_blank"><img alt="Twitter icon" border="0" width="18" height="18" style="border:0; height:18px; width:18px" ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/tt.png" src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/tt.png"></a>&nbsp;</span>
                    <!-- end ngIf: showField('twitterURL') -->
                    <!-- ngIf: showField('youtubeURL') -->
                    <!-- ngIf: showField('instagramURL') --><span ng-if="showField('instagramURL')" class="ng-scope"><a href="https://www.instagram.com/bayzeed_hs/?hl=en" target="_blank"><img alt="Instagram icon" border="0" width="18" height="18" style="border:0;height: 18px;width:18px;" ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/it.png" src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/it.png"></a></span>
                    <!-- end ngIf: showField('instagramURL') -->&nbsp;
                    <!-- ngIf: showField('pinterestURL') -->
                </span>
                <!-- end ngIf: isAnyFieldEntered('facebookURL,linkedinURL,twitterURL,youtubeURL,instagramURL,pinterestURL') -->
            </td>
            <td style="padding-left:15px;">
                <!-- ngIf: showField('website') --><span ng-if="showField('website')" class="ng-scope"><a href="http://ledp.ictd.gov.bd/" target="_blank" style="text-decoration:none;">
                        <!-- ngIf: showField('website') --><span ng-if="showField('website')" style="font-size:9pt; font-family: Arial, sans-serif; color:#317a00; font-weight:bold" class="ng-binding ng-scope">ledp.ictd.gov.bd/</span>
                        <!-- end ngIf: showField('website') --></a></span><!-- end ngIf: showField('website') -->
            </td>
        </tr>


        <!-- ngIf: showField('banner') -->
        <tr ng-if="showField('banner')" class="ng-scope">
            <td width="424" style="width:424px;padding-top:15px;" colspan="2">
                <!-- ngIf: showField('bannerURL') --><a ng-if="showField('bannerURL')" href="https://www.who.int/health-topics/coronavirus" target="_blank" rel="noopener" class="ng-scope"><img border="0" ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/banner.png" alt="Banner" style="max-width:424px; height:auto; border:0;" src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/stay-healthy-at-home3/banner.png"></a>
                <!-- end ngIf: showField('bannerURL') -->
                <!-- ngIf: !showField('bannerURL') -->
            </td>
        </tr><!-- end ngIf: showField('banner') -->

    </tbody>
</table>